project_id          = "your-gcp-project-id"
project_name        = "opentofu-lab"
environment         = "dev"
region              = "us-central1"
public_subnet_cidr  = "10.0.1.0/24"
private_subnet_cidr = "10.0.2.0/24"
